
body{
  mergin:0;
}
  a{
    color:black;

  }
  h1{
    font-size: 45px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0:
    padding:20px;
  }
  ol{
    border-right: 1px solid gray;
    width:100px;
    margin:0;
    padding:20px;
  }

  #active{
    color: red;
  }
  #grid{
    display: grid;
    grid-template-columns: 150px 1fr;
  }
  /* 가장 최근에 쓴 코드부터 알아들음 */
  /* id선택자>class선택자>태그선택자 */
  img{
    width: 100px;
    padding: 5px;
  }
  @media(max-width:800px)  {
    #grid{
      display:block;
    }
  ol{
    border-right: none;
  }
  h1{
    border-bottom:none;
  }
