#title{
  background-color: #fdcb6e;
}

h1{
  text-align: center;
font-family: 'Montserrat', sans-serif;
  padding-top: 30px;
  color:#f16821;
}
.image{
  padding: 20px;
  text-align: center;
}
h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:#f16821;
  padding-top: 60px;
  padding-bottom: 30px;
}
.menu{
  padding:10px;
}
