#title{
  background-color: #d3d4d8;
}

h1{
  text-align: center;
font-family: 'Montserrat', sans-serif;

  color:#112d4e;
  font-size: 50px;
  animation-name: bomb;
  animation-duration: 0.9s;
  animation-iteration-count: 1;
}

@keyframes bomb {
  from { font-size: 600%;}
  to{ font-size: 100%;}
}

h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:#112d4e;
  padding-top: 30px;
  padding-bottom: 30px;

}

.menu{
  padding:10px;
}
.imagetwo{
  text-align: center;
  padding: 50px;
}
span{
  transition : font-size 1s;
}
span:hover{
  font-size : 200%;
}
.dropdown-item:hover{
  background-color: #fff8a6;
}
@media (min-width: 320px) and (max-width: 480px) {
  #grid{
    display: block;
  }
}
