#title{

  background: linear-gradient( to bottom, #692db7 5%, #00028c, #692db7, #d527b7, #8158fc, #00028c, #692db7);
}

h1{
  text-align: center;
font-family: 'Montserrat', sans-serif;
  padding-top: 30px;
  color:#f7ff56;
}
.image{
  padding: 20px;
  text-align: center;
}
h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:#f7ff56;
  padding-top: 60px;
  padding-bottom: 30px;
}
.menu{
  padding:10px;
}
