#title{
  background-color: #d3d4d8;
}

.seonintro{
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  color:#112d4e;
  font-size: 50px;

}




h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:#112d4e;
  padding-top: 30px;
  padding-bottom: 30px;

}

.menu{
  padding:10px;
}
.imagetwo{
  text-align: center;
  padding: 50px;
}
span{
  transition : font-size 1s;
}
span:hover{
  font-size : 200%;
}
.dropdown-item:hover{
  background-color: #fff8a6;
}
@media (min-width: 320px) and (max-width: 480px) {
  #grid{
    display: block;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.pcard {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.acard {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
