#title{
  background-color: #1c1259;
}
#intro{
  background-color: #87c0cd;
}

h1{
  text-align: center;
font-family: 'Josefin Sans', sans-serif;
  padding-top: 35px;
}

h2{
  text-align: center;
font-family: 'Josefin Sans', sans-serif;
  color:white;
}
