#title{
  background-color: #1c1259;
}

h1{
  text-align: center;
font-family: 'Nanum Myeongjo', serif;
  padding-top: 30px;
}
.image{
  padding: 20px;
  text-align: center;
}
h2{
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  color:white;
}
